ul.nav.nav-inline.m-b-2
  li.nav-item
    a.nav-link(href="/personal?id="+id) Personal Info
  li.nav-item
    a.nav-link(href="/medical?id="+id) Medical Info
  li.nav-item
    a.nav-link(href="/checkuphistory?id="+id) Checkup History
.row
